.container {
  padding: 20px;
}

input[type=text], input[type=password] {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 16px;

  position: static;
  width: 356px;
  left: calc(50% - 356px/2);
  top: 35%;
  bottom: 35%;

  margin: 10px 0 10px 0;
  background: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #7B8E98;

  font-size: 16px;
  line-height: 20px;

  border: 1px solid #CFD8DC;
  box-sizing: border-box;
  border-radius: 12px;
}

.register {
  width: 356px;
  height: 42px;
  left: calc(50% - 356px/2 - 0.5px);
  top: calc(50% - 42px/2 + 184px);

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;

  display: flex;
  align-items: center;

  color: #000000;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  line-height: 14px;
  width: 356px;
  left: calc(50% - 356px/2);

  text-align: center;
  color: #7B8E98;
}

span {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  line-height: 14px;
  width: 356px;
  left: calc(50% - 356px/2);

  text-align: center;
  color: #7B8E98;
}

.registerbtn {
  background: #B0A4FA;
  color: #1A1A1A;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border: 1px solid #CFD8DC;
  cursor: pointer;

  width: 356px;
  height: 48px;
  text-align: center;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  border-radius: 55px;
}

.loginbtn {
  margin-top: 10px;
  display: block;
  background: #FFFFFF;
  color: #1A1A1A;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  cursor: pointer;

  width: 356px;
  height: 48px;
  text-align: center;
  border: 1px solid #CFD8DC;
  border-radius: 55px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
