<div (click)="back()" class="back-panel">
    <img src="../../../assets/leftArrow.png" alt="Back"/>
    <span class="back-text">Назад</span>
</div>

<h1 class="userClass">Пользователи</h1>

<table class="table table-striped">
    <thead>
    <tr class="tableTop">
        <td>Id</td>
        <td>Имя</td>
        <td>Email</td>
        <td>Пароль</td>
        <td>Username</td>
        <td>Название компании</td>
        <td>WB ключ</td>
        <td>Подписка</td>
        <td>Блок</td>
    </tr>
    </thead>
    <tbody class="tableBody">
    <tr *ngFor="let user of users">
        <ng-container *ngIf="isReadOnly(user)">
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>{{user.username}}</td>
            <td>{{user.nameCompany}}</td>
            <td>{{user.wildBerriesKeys}}</td>
            <td>{{user.isSubscribed}}</td>
            <td>{{user.isBlocked}}</td>
            <td class="table-btn" (click)="editUser(user)">
                Изменить
            </td>
            <td class="table-btn" (click)="deleteUser(user.id)">
                Удалить
            </td>
        </ng-container>
        <ng-container *ngIf="isEditable(user)">
            <td>
                <input type="number" [(ngModel)]="editedUser.id" readonly disabled class="form-control">
            </td>
            <td>
                <input type="text" [(ngModel)]="editedUser.password" class="form-control">
            </td>
            <td>
                <input type="text" [(ngModel)]="editedUser.email" class="form-control">
            </td>
            <td>
                <input type="text" [(ngModel)]="editedUser.username" class="form-control">
            </td>
            <td>
                <input type="text" [(ngModel)]="editedUser.nameCompany" class="form-control">
            </td>
            <td>
                <input type="text" [(ngModel)]="editedUser.wildBerriesKeys" class="form-control">
            </td>
            <td>
                <input type="checkbox" [(ngModel)]="editedUser.isBlocked" class="form-control">
            </td>
            <td>
                <input type="checkbox" [(ngModel)]="editedUser.isSubscribed" class="form-control">
            </td>

            <td class="table-btn" (click)="saveUser()">
                Сохранить
            </td>
            <td class="table-btn" (click)="cancel()">
                Отмена
            </td>

        </ng-container>
        <ng-template [ngTemplateOutlet]="loadTemplate(user)"
                     [ngTemplateOutletContext]="{ $implicit: user}">
        </ng-template>

    </tr>
    </tbody>
</table>

<div class="table-navigation-container  col-10">
    <app-list-navigator class="float-right"
                        (onChanged)="setPageSelected($event)"
                        [totalAmount]="totalAmount"
                        [amountOnPage]="amountOnPage"
                        [pageShortcutsAmount]="3">

    </app-list-navigator>
</div>

<p class="total-amount col-2">Total: {{ totalAmount }}</p>

<div>{{statusMessage}}</div>

