<form [formGroup]="passwordForm" novalidate>
    <div class="container">

        <h1 class="password">Забыли пароль</h1>

        <p>Мы отправим вам ссылку на почту для подтверждения пароля.</p>

        <input type="email" formControlName="email" class="form-control" placeholder="Введите ваш email" required autofocus/>

        <div *ngIf="email.invalid && (email.touched || email.dirty)">
            <span *ngIf="email.errors['required']">Поле должно быть заполнено.</span>
            <span *ngIf="email.errors['pattern']">Несоответствующий формат email.</span>
        </div>

        <h1 class="password">Восстановление пароля</h1>

        <input type="password" formControlName="password" placeholder="Введите новый пароль" name="psw" required>

        <div *ngIf="password.invalid && (password.touched || password.dirty)">
            <span *ngIf="password.errors['required']">Поле должно быть заполнено.</span>
            <span *ngIf="password.errors['pattern']">Пароль должен содержать от 6 до 20 букв, содержать одну цифру, одну большую букву.</span>
        </div>

        <input type="password" formControlName="passwordRep" placeholder="Повторите пароль" name="psw-repeat" required>

        <span *ngIf="password.value !== passwordRep.value">Пароли не совпадают.</span>
        <div *ngIf="passwordRep.invalid && (passwordRep.touched || passwordRep.dirty)">
            <span *ngIf="passwordRep.errors['required']">Поле должно быть заполнено.</span>
        </div>

        <button (click)=resetPassword() class="submitbtn">Отправить</button>
    </div>
</form>
